<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Groups" >
        <classes>
            <class name="TelRan.QA.tests.GroupCreateTest" />
            <class name="TelRan.QA.tests.GroupModificationTest" />
            <class name="TelRan.QA.tests.GroupsDeleteTest" />
        </classes>
    </test>

    <test name="Contacts">
        <classes>
           <class name="TelRan.QA.tests.ContactCreateTest"/>
            <class name="TelRan.QA.tests.ContactDeleteTest" />
            <class name="TelRan.QA.tests.ContactEditTest" />

        </classes>
    </test>
</suite>
